.block-simple {
  border-radius: 3px;
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 15px;
}
.block {
  border-radius: 4px;
  border: 1px solid #f4f4f4;
  border-top: 4px solid black;
  background-color: #ffffff;
  margin-bottom: 15px;
  box-shadow: 0px 0px 10px -4px;
}
.block-inline {
  display: inline-block;
}
.block__title,
.block__content {
  padding: 10px;
}
.block__title {
  border-bottom: 1px solid #f4f4f4;
  font-weight: 600;
  font-size: 16px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.block_border-primary {
  border-top: 4px solid #3c8dbc;
}
.block_border-info {
  border-top: 4px solid #00c0ef;
}
.block_border-success {
  border-top: 4px solid #00a65a;
}
.block_border-warning {
  border-top: 4px solid #f39c12;
}
.block_border-danger {
  border-top: 4px solid #f56954;
}
.block_full-title-primary {
  border: none;
}
.block_full-title-primary .block__title {
  background-color: #3c8dbc;
  color: #ffffff;
}
.block_full-title-info {
  border: none;
}
.block_full-title-info .block__title {
  background-color: #00c0ef;
  color: #ffffff;
}
.block_full-title-success {
  border: none;
}
.block_full-title-success .block__title {
  background-color: #00a65a;
  color: #ffffff;
}
.block_full-title-warning {
  border: none;
}
.block_full-title-warning .block__title {
  background-color: #f39c12;
  color: #ffffff;
}
.block_full-title-danger {
  border: none;
}
.block_full-title-danger .block__title {
  background-color: #f56954;
  color: #ffffff;
}
.block__content_unpadding {
  padding: 0;
}
/*mods*/
.input,
.textarea {
  width: 100%;
  border: 1px solid #d2d6de;
  padding: 8px;
  box-sizing: border-box;
}
.input-group {
  margin-bottom: 10px;
}
.label {
  font-weight: bold;
  margin-bottom: 6px;
  display: inline-block;
}
.textarea {
  font-family: "Exo 2", "sans-serif";
}
.btn {
  text-decoration: none;
  color: #333;
  border: 1px solid #ddd;
  padding-left: 12px;
  padding-right: 12px;
  box-sizing: border-box;
  border-radius: 4px;
  display: inline-block;
  vertical-align: top;
  line-height: 36px;
  height: 36px;
  background-color: #ffffff;
}
.btn_primary {
  background-color: #3c8dbc;
  color: #ffffff;
  border: 1px solid #4897c5;
}
.btn_primary:hover {
  background-color: #4897c5;
  border: 1px solid #57a0c9;
  cursor: pointer;
}
.btn_success {
  background-color: #00a65a;
  color: #ffffff;
  border: 1px solid #00ba65;
}
.btn_success:hover {
  background-color: #00ba65;
  border: 1px solid #00cf70;
  cursor: pointer;
}
.btn_info {
  background-color: #00c0ef;
  color: #ffffff;
  border: 1px solid #04ceff;
}
.btn_info:hover {
  background-color: #04ceff;
  border: 1px solid #19d2ff;
  cursor: pointer;
}
.btn_danger {
  background-color: #f56954;
  color: #ffffff;
  border: 1px solid #f67a67;
}
.btn_danger:hover {
  background-color: #f67a67;
  border: 1px solid #f78b7b;
  cursor: pointer;
}
.btn_warning {
  background-color: #f39c12;
  color: #ffffff;
  border: 1px solid #f4a425;
}
.btn_warning:hover {
  background-color: #f4a425;
  border: 1px solid #f5ac39;
  cursor: pointer;
}
.table {
  width: 100%;
  border-collapse: collapse;
}
.table td,
.table th {
  border: 1px solid #f4f4f4;
  padding: 8px;
}
.table th {
  text-align: left;
}
.col-50 {
  width: 600px;
}
.col_center {
  margin: 0 auto;
}
.center {
  text-align: center;
}
/*admin*/
.sidebar {
  background-color: #f9fafc;
  width: 250px;
  float: left;
}
.sidebar:after {
  content: '';
  display: block;
  clear: both;
}
.sidemenu {
  list-style-type: none;
}
.sidemenu__link,
.sidemenu__separator {
  text-decoration: none;
  color: #333;
  padding: 10px;
  border-bottom: 1px solid #f4f4f4;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}
.sidemenu__link:hover,
.sidemenu__separator:hover {
  background-color: #f7f7f7;
}
.sidemenu__separator {
  background-color: #f39c12;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
}
.sidemenu__separator:hover {
  background-color: #f39c12;
}
* {
  padding: 0;
  margin: 0;
}
ul {
  list-style-position: inside;
}
body,
html {
  color: #333;
  font-family: "Exo 2", "sans-serif";
  font-size: 13px;
  background-color: #fafafa;
  height: 100%;
}
.header-wrapper {
  height: 80px;
  border-bottom: 1px solid #dedede;
  box-shadow: 0 -15px 12px 10px;
  margin-bottom: 15px;
  background-color: #ffffff;
  position: relative;
  z-index: 1000;
}
.header-wrapper:after {
  content: '';
  display: block;
  clear: both;
}
.header {
  width: 1200px;
  margin: 0 auto;
}
.header__logo {
  float: left;
  line-height: 80px;
  font-size: 36px;
  font-weight: bold;
}
.header__logo a {
  text-decoration: none;
  color: #333;
}
.header__logo a:hover {
  text-decoration: underline;
}
.menu {
  list-style-type: none;
  float: right;
  line-height: 80px;
}
.menu:after {
  content: '';
  display: block;
  clear: both;
}
.menu__item {
  float: left;
}
.menu__link {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-size: 14px;
  padding: 8px 12px;
}
.menu__link:hover {
  color: #8c8c8c;
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}
.content {
  min-height: 100%;
}
.content_width-left-sidebar {
  padding-left: 265px;
}
.footer-wrapper {
  box-shadow: 0 15px 12px 10px;
  background-color: #ffffff;
}
.footer {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  line-height: 60px;
}
.footer-links__item {
  margin-right: 15px;
  color: #333;
  font-size: 16px;
}
.hello-block {
  margin-top: 40px;
}
